h1 {
  font-family: apple;
  font-size: 40px
  line-height: 42px
  font-weight: 600
  text-align: center;
  color: #e4396ce8;
}

h2 {
  font-family: apple;
  font-size: 30px
  line-height: 32px
  color: #ac81ce;
}

ul {
  font-family: apple;
  font-size: 22px
  line-height: 25px
  color: #404040;
  font-style: italic;
}

p {
  font-family: apple;
  line-height: 30px
  font-size: 22px
}